---
- name: Ensure group {{ tomcat_group }} is present.
  group:
    name: "{{ tomcat_group }}"
    state: present

- name: Ensure user {{ tomcat_user }} is present.
  user:
    name: "{{ tomcat_user }}"
    group: "{{ tomcat_group }}"
    home: "{{ tomcat_home }}"
    createhome: no
    state: present

- name: Ensure {{ tomcat_name }} package is installed.
  apt:
    name: "{{ tomcat_name }}"
    state: present
    update_cache: yes
    cache_valid_time: "{{ tomcat_cache_valid_time }}"

- name: Ensure {{ tomcat_service_name }} service is enabled.
  service:
    name: "{{ tomcat_service_name }}"
    enabled: yes

- include_tasks: default.yml

- name: Ensure systemd service is installed.
  become: true
  template:
    src:  "tomcat8.service.j2"
    dest: "/lib/systemd/system/{{ tomcat_name }}.service"
    owner: root
    group: root
    mode: 0644

- name: Ensure systemd service is configured.
  file:
    src: "/lib/systemd/system/{{ tomcat_name }}.service"
    dest: "/etc/systemd/system/{{ tomcat_name }}.service"
    state: link

- name: Ensure tomcat configuration is linked in the Catalina home.
  file:
    src: "/etc/{{ tomcat_name }}"
    dest: "{{ tomcat_catalina_home }}/conf"
    state: link

- name: Ensure tomcat logs are linked in the Catalina home.
  file:
    src: "/var/log/{{ tomcat_name }}"
    dest: "{{ tomcat_catalina_home }}/logs"
    state: link

- name: Ensure tomcat temp is linked in the Catalina home.
  file:
    src: "/var/cache/{{ tomcat_name }}"
    dest: "{{ tomcat_catalina_home }}/temp"
    state: link