---
- name: Ensure group {{ tomcat_group }} is present.
  group:
    name: "{{ tomcat_group }}"
    state: present

- name: Ensure user {{ tomcat_user }} is present.
  user:
    name: "{{ tomcat_user }}"
    group: "{{ tomcat_group }}"
    home: "{{ tomcat_home }}"
    createhome: no
    state: present

- name: Ensure {{ tomcat_name }} package is installed.
  apt:
    name: "{{ tomcat_name }}"
    state: present
    update_cache: yes
    cache_valid_time: "{{ tomcat_cache_valid_time }}"

- name: Ensure {{ tomcat_service_name }} service is enabled.
  service:
    name: "{{ tomcat_service_name }}"
    enabled: yes