[Unit]
Description={{ tomcat_service_name }} server
After=syslog.target

[Service]
Type=simple
User={{ tomcat_user }}
Group={{ tomcat_group }}
ExecStart={{ tomcat_catalina_home }}/bin/startup.sh
ExecStop={{ tomcat_catalina_home }}/bin/shutdown.sh

[Install]
WantedBy=multi-user.target

